.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 0 10rem;
    background-color: rgb(243, 231, 231);
    /* height: 100vh; */
}
.container-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.right-top{
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard-content{
    display: flex;
    gap: 30px;
    margin-bottom: 16rem;
}

@media screen and (max-width: 950px) {
    .container{
        width: 100%;
        flex-direction: column;
        padding:10px;
    }
    .dashboard-content{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 0;
    }
}
